#landing {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  pointer-events: none;
  background: $alt-bg;
  background: linear-gradient(to bottom, #{$bg-dark}, #{$blue-bg});
}

.particle-container {
  background-color: transparent;
  min-width: 100vw;
  min-height: 100vw;
}

.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.stars-container {
  min-width: 100%;
  min-height: 100%;
}

#stars-0 {
  background: url("../../images/stars-even-smaller.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-1 {
  background: url("../../images/stars-smallest.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-2 {
  background: url("../../images/stars-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-3 {
  background: url("../../images/stars-02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#sun-container, #moon-container {
  margin-top: 3%;
  margin-left: 33%;
  margin-right: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sun {
  width: 520px;
  margin-left: 10%;
  margin-top: -5%;
}

#eclipsed {
  width: 625px;
  height: auto;
}

@include breakpoint("<=medium") {
  #sun-container, #moon-container {
    margin-top: 15%;
    margin-left: 18%;
  }

  #sun {
    margin-left: 15%;
    margin-top: -15%;
  }  

  #eclipsed {
    width: 500px;
    height: auto;
  }
}

@include breakpoint('<=small') {

  #sun-container, #moon-container {
    margin-top: 42%;
    margin-left: 10%;
  }

  #sun {
    margin-left: 21.5%;
    margin-top: -20%;
    width: 300px;
    height: auto;
  }

  #eclipsed {
    width: 300px;
    height: auto;
  }

  #stars-0 {
    background: url("../../images/stars-even-smaller-vertical.png");
  }
  
  #stars-1 {
    background: url("../../images/stars-smallest-vertical.png");
  }
  
  #stars-2 {
    background: url("../../images/stars-01-vertical.png");
  }
  
  #stars-3 {
    background: url("../../images/stars-02-vertical.png");
  }
}