#landing {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  pointer-events: none;
  background: $alt-bg;
  background: linear-gradient(to bottom, #{$space2-bg}, #{$space1-bg}, #{$blue-bg});
}

.particle-container {
  background-color: transparent;
  min-width: 100vw;
  min-height: 100vw;
}

.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.stars-container {
  min-width: 100%;
  min-height: 100%;
}

#stars-0 {
  background: url("../../images/stars-even-smaller.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-1 {
  background: url("../../images/stars-smallest.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-2 {
  background: url("../../images/stars-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-3 {
  background: url("../../images/stars-02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.Typewriter {
  position: absolute;
  height: 210px;
  width: 480px;
  top: 15%;
  padding-left: 1.4rem;
  text-align: center;
  color: $light-text;
  font-size: 1rem;
  font-family: $display-text;
  line-height: 1.7rem;
}

.Typewriter__cursor {
  color: $highlight;
}

#typeweriter-img {
  position: relative;
  text-align: center;
}

#my-name {
  font-weight: bold;
  font-size: 1.3rem;
}

#js, #cwd {
  color: $highlight;
  font-size: 1.1rem;
}

#sun-container, #moon-container {
  margin-top: 5%;
  margin-left: 35%;
  margin-bottom: 0;
  margin-right: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#sun {
  width: 130px;
  margin-left: 16%;
  margin-top: 3%;
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#eclipsed {
  width: 480px;
  height: auto;
  margin-bottom: 0;
}

@include breakpoint("<=large") {
  .Typewriter {
    top: 10%;
  }

  #sun-container, #moon-container {
    margin-top: 10%;
    margin-left: 30%;
  }

  #sun {
    margin-left: 25%;
    margin-top: 3%;
  }

}

@include breakpoint("<=medium") {
  #sun-container, #moon-container {
    margin-top: 15%;
    margin-left: 20%;
  }

  #sun {
    margin-left: 34%;
    margin-top: 5%;
  }

  #eclipsed {
    width: 400px;
    height: auto;
  }

  .Typewriter {
    width: 400px;
    top: 10%;
    font-size: 0.8rem;
  }

  #my-name {
    font-size: 1rem;
  }

  #js, #cwd {
    font-size: 0.9rem;
  }
}

@include breakpoint('<=small') {

  #sun-container, #moon-container {
    margin-top: 35%;
    margin-left: 7%;
  }

  .Typewriter {
    width: 355px;
    top: 12%;
    font-size: 13px;
  }

  #my-name {
    font-size: 15px;
  }

  #js, #cwd {
    font-size: 14px;
  }

  #sun {
    margin-left: 50%;
    margin-top: 6%;
    width: 135px;
    height: auto;
  }

  #eclipsed {
    width: 355px;
    height: auto;
  }

  #stars-0 {
    background: url("../../images/stars-even-smaller-vertical.png");
  }

  #stars-1 {
    background: url("../../images/stars-smallest-vertical.png");
  }

  #stars-2 {
    background: url("../../images/stars-01-vertical.png");
  }

  #stars-3 {
    background: url("../../images/stars-02-vertical.png");
  }
}
