#landing {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  pointer-events: none;
  background: $alt-bg;
  background: linear-gradient(to bottom, #{$bg-dark}, #{$blue-bg});
}

.particle-container {
  background-color: transparent;
  min-width: 100vw;
  min-height: 100vw;
}

.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.stars-container {
  min-width: 100%;
  min-height: 100%;
}

#stars-0 {
  background: url("../../images/stars-even-smaller.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-1 {
  background: url("../../images/stars-smallest.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-2 {
  background: url("../../images/stars-01.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#stars-3 {
  background: url("../../images/stars-02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#sun-container, #moon-container {
  margin-top: 3%;
  margin-left: 33%;
  margin-right: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Typewriter {
  position: absolute;
  height: 210px;
  width: 625px;
  top: 25%;
  text-align: center;
  padding-left: 3%;
  color: $light-text;
  font-size: 1rem;
  font-family: $display-text;
  line-height: 1.7rem;
}

.Typewriter__cursor {
  color: $highlight;
}

#typeweriter-img {
  position: relative;
  text-align: center;
}

#my-name {
  font-weight: bold;
  font-size: 1.3rem;
}

#js, #cwd {
  color: $highlight;
  font-size: 1.1rem;
}

#sun {
  width: 520px;
  margin-left: 10%;
  margin-top: -5%;
}

#eclipsed {
  width: 625px;
  height: auto;
}

@include breakpoint("<=medium") {
  #sun-container, #moon-container {
    margin-top: 15%;
    margin-left: 18%;
  }

  #sun {
    margin-left: 15%;
    margin-top: -15%;
  }

  #eclipsed {
    width: 500px;
    height: auto;
  }

  .Typewriter {
    width: 500px;
    top: 15.5%;
    font-size: 0.8rem;
  }

  #my-name {
    font-size: 1rem;
  }

  #js, #cwd {
    font-size: 0.9rem;
  }
}

@include breakpoint('<=small') {

  #sun-container, #moon-container {
    margin-top: 40%;
    margin-left: 6%;
  }

  .Typewriter {
    width: 400px;
    top: 14%;
    font-size: 13px;
  }

  #my-name {
    font-size: 15px;
  }

  #js, #cwd {
    font-size: 14px;
  }

  #sun {
    margin-left: 21.5%;
    margin-top: -20%;
    width: 400px;
    height: auto;
  }

  #eclipsed {
    width: 400px;
    height: auto;
  }

  #stars-0 {
    background: url("../../images/stars-even-smaller-vertical.png");
  }

  #stars-1 {
    background: url("../../images/stars-smallest-vertical.png");
  }

  #stars-2 {
    background: url("../../images/stars-01-vertical.png");
  }

  #stars-3 {
    background: url("../../images/stars-02-vertical.png");
  }
}
