body{
    background-color: black;
    color: rgba(255,255,255,0.8);
}

/* landing screen and navbar stylings */
#landing{
    height: 100vh;
    background-image: url("../images/underwater.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.brand-logo {
    margin-top: 5px;
}

#logo-image {
    width: 12vw;
}

#mainPicture {
    margin-top: 25vh;
    width: 15%;
}

#intro {
    margin-top: 50px;
}

/* projects section styling */
#projects {
    background-color: rgb(61,61,61);
}

#p1 {
    height: 350px;
}

.aboutMe p {
    font-size: 1.5vw;
    line-height: 1.5;
}

.aboutMe {
    margin-bottom: 5vw;
}

/* label focus color for form */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #1565c0 !important;
   }

.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #1565c0 !important;
}

/* label underline focus color for contact form */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1565c0 !important;
    box-shadow: 0 1px 0 0 #1565c0 !important;
}

.input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1565c0 !important;
    box-shadow: 0 1px 0 0 #1565c0 !important;
}

.material-icons{
    color: #ffffff !important;
}
  
.material-icons.active {
    color: #1565c0 !important;
}


/* Responsiveness for changes in screen size */

@media only screen and (max-width:768px) {
 
}

@media only screen and (max-width:640px) {
    .aboutMe p {
        font-size: 1.7vw;
        line-height: 1.5;
    }

    #logo-image {
        width: 27vw;
    }

    #landing{
        max-width: 100%;
        height: auto;
        background-image: url("../images/underwater.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
    }
}