// -----------------------------------------------------------------------------
// This file contains all styles related to the top navigation layout component.
// -----------------------------------------------------------------------------

.navigation {
  height: 65px;

  ul {
    height: 65px;
    color: $light-text;
    font-family: $default;
    font-weight: 500;

    li > a {
      color: $light-text;
      text-decoration: none;
    }
  }
}

.side-nav li > a {
  padding-top: 10%;
  font-family: $default;
  color: $light-text;
  font-weight: 500;
  text-decoration: none;
}

.underline {
  span {
    vertical-align: middle;
    @include vendor('transform', 'perspective(1px) translateZ(0)');
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: $highlight;
      height: 2.75px;
      @include vendor('transition-property', 'left, right');
      @include vendor('transition-duration', '0.3s');
      @include vendor('transition-timing-function', 'ease-out');
    }

    &:hover:before, :focus:before, :active:before {
      left: 0;
      right: 0;
    }
  }
}
