#footer {
  color: $dark-text;
  background-color: $bg-white;
  font-family: $display-text;
  font-weight: 500;
  height: 280px;
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;

  p {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 10px;
    font-size: 11px;

    svg {
      color: $highlight;
    }

    @include breakpoint('<=small') {
      margin-top: 15%;
    }
  }

  .top-btn-container {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-bottom: 5%;

    @include breakpoint('<=small') {
      padding-bottom: 10%;
    }
  }

  .back-to-top {
    svg {
      color: $dark-text;
      transition: all 0.5s;
      transform: translateY(5px);
      height: 1.8em;
      width: 1.8em;
    }

    &:hover svg {
      color: $highlight;
      transform: translateY(-7px);
    }
  }
}


.footer-links {
  margin-top: 1%;
  list-style-type: none;
  text-align: center;

  li {
    display: inline-block;
    padding: 1em;
    margin: 0 10px;

    a {
      display: block;
      color: $dark-text;
      text-align: center;
      cursor: pointer;
      font-size: 1.85em;
    
      svg {
        transition: all 0.25s;
        color: $dark-text;
      }
    
      &:hover svg {
        color: $highlight;
      }
    }
  }

  .email-link {
    width: 0.92em;
    height: 0.92em;
  }
}